<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>JobAI</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <h1>JobAI</h1>
        <form method="POST" action="/">
            <label for="url">Job Description URL:</label>
            <input type="text" id="url" name="url">
            <button type="submit">Submit</button>
        </form>
        {% if job_data %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Job Data:</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Job Title</th>
                                    <th>Company Name</th>
                                    <th>Location</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ job_data.job_info[0].job_title }}</td>
                                    <td>{{ job_data.job_info[0].company }}</td>
                                    <td>{{ job_data.job_info[0].location }}</td>
                                    <td>
                                        <select class="form-select" id="status" name="status">
                                            <option selected>Open</option>
                                            <option value="Applied">Applied</option>
                                            <option value="Interviewing">Interviewing</option>
                                            <option value="Rejected">Rejected</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
  </body>
</html>