<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>JobAI</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <h1>JobAI</h1>
        <form method="POST" action="/">
            <label for="url">Job Description URL:</label>
            <input type="text" id="url" name="url">
            <button type="submit">Submit</button>
        </form>
        {% if job_data %}
        <h2>Job Data:</h2>
        <p>Job Data: {{ job_data }}</p>
        <p>Job Title: {{ job_data.job_info[0].job_title }}</p>
        <p>Company: {{ job_data.job_info[0].company }}</p>
        <p>Location: {{ job_data.job_info[0].location }}</p>
        {% endif %}
  </body>
</html>